@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

* {
    text-align: center;
    font-family: 'Zen Kurenaido', sans-serif;
    margin: 0;
}

header {
    background-color: gray;
    padding: 20px;
    color: white;
}

main {
    padding: 20px;
    color: black;
    font-size: 20px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotos {
    width: 300px;
    padding: 20px;
}

.perfil {
    width: 300px;
    border-radius: 50%;
}

@media (max-width: 600px) {
    #container {
        display: grid;
    }

    .fotos {
        width: 100%;
        padding: 20px 0px;
    }

}